@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import this from https://video-react.github.io/assets/video-react.css */
/* @import url("https://video-react.github.io/assets/video-react.css"); */

@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #b58934;

    --background: 42 35.75% 3.68%;
    --foreground: 42 5.5% 97.3%;

    --muted: 42 27.500000000000004% 13.8%;
    --muted-foreground: 42 5.5% 54.6%;

    --popover: 42 54% 5.98%;
    --popover-foreground: 42 5.5% 97.3%;

    --card: 42 54% 5.98%;
    --card-foreground: 42 5.5% 97.3%;

    --border: 42 27.500000000000004% 13.8%;
    --input: 42 27.500000000000004% 13.8%;

    --primary: 42 55% 46%;
    --primary-foreground: 42 5.5% 4.6000000000000005%;

    --secondary: 42 27.500000000000004% 13.8%;
    --secondary-foreground: 42 5.5% 97.3%;

    --accent: 42 27.500000000000004% 13.8%;
    --accent-foreground: 42 5.5% 97.3%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 42 5.5% 97.3%;

    --ring: 42 55% 46%;

    --radius: 0.5rem;
  }

  .dark {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #b58934;

    --background: 42 35.75% 3.68%;
    --foreground: 42 5.5% 97.3%;

    --muted: 42 27.500000000000004% 13.8%;
    --muted-foreground: 42 5.5% 54.6%;

    --popover: 42 54% 5.98%;
    --popover-foreground: 42 5.5% 97.3%;

    --card: 42 54% 5.98%;
    --card-foreground: 42 5.5% 97.3%;

    --border: 42 27.500000000000004% 13.8%;
    --input: 42 27.500000000000004% 13.8%;

    --primary: 42 55% 46%;
    --primary-foreground: 42 5.5% 4.6000000000000005%;

    --secondary: 42 27.500000000000004% 13.8%;
    --secondary-foreground: 42 5.5% 97.3%;

    --accent: 42 27.500000000000004% 13.8%;
    --accent-foreground: 42 5.5% 97.3%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 42 5.5% 97.3%;

    --ring: 42 55% 46%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
